* {
  padding: 0;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


@media screen and (max-width: 576px){
  .table {
    font-size: smaller;
  }
}

h1 {
  color:brown;
  font-weight: bold;
}

p {
  color: black;
  font-size: 18px;
}

#evenements, #contact, #about {
  color:darkgoldenrod;
  font-weight: bold;
}

.pagination {
font-size: 12px;
}

.table {
  font-size: 16px;
}
